<!DOCTYPE html>
<html ng-app="mapModule" >
<head>
<meta charset="utf-8">
<!--specify user scalable as no, in order to mimick a native app-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-touch.min.js"></script>
<script src="js/controllers.js"></script>
<script src="phonegap.js"></script>
<link rel="stylesheet" type="text/css" href="css/index.css"/>	
<style>
#map {
margin: 0px auto;
height: 500px;
max-width: 400px;
width: 100%;
}
</style>
</head>
<body data-ng-controller="mainController">
	<!--use the html5 header tag-->
	<header>

		<ul class="header_nav" ng-class="{'swipe_left': panelIsOpen == true}">
			<li class="header_menu_item" data-ng-repeat="currentMenuItem in menuItems" data-ng-click="selectMenuItem($index)">
				<!--we want to apply the current class whenever a particular menu item is selected.-->
				<!--in order to do this we use the ng-class directive-->

				<a class="header_menu_link" ng-class="{'current': $index == selectedItem}" href="{{currentMenuItem.href}}">
					<i class="fa {{currentMenuItem.font_awesome_icon}}"></i>
				</a>
			</li>
			<!--the following list item represents a side panel button for opening and closing the side panel-->
        		<!--use the ng-click directive to call the toggleSidePanel() function when this button is pressed-->
			<!--using the ng-class directive we can apply the current class to this list item which will add some css styling-->
        		<li class="header_menu_item" data-ng-click="toggleSidePanel()">
				<span class="header_menu_link" ng-class="{'current': panelIsOpen == true}">
					<i class="fa fa-navicon"></i>
				</span>
			</li>  	  
       	 	</ul><!--/header_nav-->		
	</header>

	<div id="container_wrapper" class="scrollable" ng-class="{'swipe_left': panelIsOpen == true}" ng-swipe-left="panelIsOpen = true">
		<div class="container"> 
			<span class="logo"><i class="fa fa-check-circle"></i></span>
			<div data-ng-view>
				<!--our individual views will be displayed here-->

			</div>
		</div><!--/container-->
	</div><!--/container_wrapper-->

    
<script>
function initMap() {
var positions = [{latLng: {lat: 53.41291, lng: -8.24389}, url: "/"},{latLng: {lat: 53.3498053, lng: -6.2603097}, url: "/"}];


var map = new google.maps.Map(document.getElementById('map'), {
zoom: 7,
center: positions[0].latLng
});

for (var i = 0; i < positions.length; i++) {
(function(position) {
var marker = new google.maps.Marker({
map: map,
position: position.latLng,
url: position.url
});
google.maps.event.addDomListener(marker, 'click', function() {
window.location.href = marker.url;
});
})(positions[i]);
}
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq3rgVX-gPP-1TWmUBER0f_E_tzGO_6Ng&callback=initMap">
</script>
</body>
</html>